body {
  width: 200px;
  font-family: Arial, sans-serif;
  background-color: #2A2F3A;
}

#stateInfo {
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}

li.has-children:before {
  content: '\25B6'; /* ▶ */
  left: -15px;
  font-size: 9px;
  transition: transform 0.3s;
  margin-right: 5px;
  color: #6FB3D2;

}

li.has-children.expanded:before {
  content: '\25BC'; /* ▼ */
  color: #6FB3D2;
}

.key {
  color: #6FB3D2;
}

.value {
  color: #C09F88;
}

